<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/startupVisa-funnal.css" />
  </head>
  <body>
    <div class="cc-nav-container">
      <div class="cc-mo-grid-container">
        <div id="cc-nav-moLogo">
          <a href="https://well-come.info">WELL-COME</a>
        </div>
        <div id="cc-nev-dropdown">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div id="cc-dropMenu-container" class="cc-hidden move-out">
          <div class="cc-serviceTitle">외국인 서비스</div>
          <div class="cc-dropMenu-line"></div>
          <div class="cc-dropMenu" id="cc-dropMenu-1">
            <a href="https://well-come.info/">외국인 취업</a>
          </div>
          <div class="cc-dropMenu" id="cc-dropMenu-2">
            <a href="https://well-come.info/corporate-visa">외국인 창업비자</a>
          </div>
          <div class="cc-dropMenu" id="cc-dropMenu-3">
            <a href="https://well-come.info/incorporation">외국인 법인설립</a>
          </div>
          <div class="cc-serviceTitle">기업 서비스</div>
          <div class="cc-dropMenu-line"></div>
          <div class="cc-dropMenu" id="cc-dropMenu-4">
            <a href="#">서비스 문의</a>
          </div>

          <div id="cc-nav-moLogo">
            <a href="https://well-come.info">WELL-COME</a>
            <div>서울시 마포구 마포대로 78<br />자람빌딩 11층 1113,1115호</div>
            <div>1551-8016</div>
          </div>
        </div>
      </div>

      <div class="cc-grid-container">
        <div class="cc-nav-logo" id="cc-nav-topLogo">
          <a href="https://well-come.info">WELL-COME</a>
        </div>
        <div class="cc-nav-menu-container">
          <div></div>
          <div></div>
          <div class="cc-topMenu" id="cc-topMenu-1">
            <a href="https://well-come.info/incorporation">법인설립</a>
          </div>
          <div class="cc-topMenu active" id="cc-topMenu-2">
            <a class="cc-active" href="https://well-come.info/corporate-visa"
              >창업비자</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="ccv-fullSection-container">
      <div class="ccv-mainSection">
        <div class="ccv-multiDisplaySection-form">
          <!-- 폼 섹션 시작 -->
          <div class="ccv-form-multiStep active" id="ccv-userEduAbility">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">최종학력을 알려주세요</div>
            <div class="ccv-userEduCountry">
              <div class="ccv-radio-SelectBox" data-edu="domestic">
                <input type="radio" name="education_level" value="domestic" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/17ae2878ffff8.png"
                />
                국내 졸업
              </div>
              <div class="ccv-radio-SelectBox" data-edu="overseas">
                <input type="radio" name="education_level" value="overseas" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/736184391d2cb.png"
                />
                해외 졸업
              </div>
            </div>

            <div id="ccv-domesticEdu">
              <div class="ccv-formButton" data-value="전문학사">전문학사</div>
              <div class="ccv-formButton" data-value="학사">학사</div>
              <div class="ccv-formButton" data-value="석사">석사</div>
              <div class="ccv-formButton" data-value="박사">박사</div>
              <div class="ccv-formButton" data-value="None">해당사항없음</div>
            </div>
            <div id="ccv-overseasEdu">
              <div class="ccv-formButton" data-value="학사">학사</div>
              <div class="ccv-formButton" data-value="석사">석사</div>
              <div class="ccv-formButton" data-value="박사">박사</div>
              <div class="ccv-formButton" data-value="None">해당사항없음</div>
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-userKoreanTestLevel">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">한국어 능력시험 점수</div>
            <div class="ccv-formButton" data-value="TOPIK 3급 이상">
              TOPIK 3급 이상
            </div>
            <div class="ccv-formButton" data-value="TOPIK 3급 미만">
              TOPIK 3급 미만
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-intellectualPropertyRights">
            <div class="ccv-scoreDisplay" id="scoreDisplay">나</div>
            <div class="ccv-form-title">지식재산권을 보유하고 있요?</div>
            <div class="ccv-formButton" data-value="지재권 미보유">아니오</div>
            <div class="ccv-formButton" data-value="지재권 보유">예</div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div
            class="ccv-form-multiStep"
            id="ccv-intellectualPropertyRights-sub"
          >
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">보유중인 지식재산권의 종류와 상태</div>
            <div class="ccv-intellectualPropertyRightsType">
              <div class="ccv-radio-SelectBox">
                <input type="radio" name="intellectual_property" value="tech" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/b9cacbb01ba36.png"
                />
                기술특허
              </div>
              <div class="ccv-radio-SelectBox">
                <input
                  type="radio"
                  name="intellectual_property"
                  value="design"
                />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/a92efff8d2d8d.png"
                />
                디자인특허
              </div>
            </div>
            <div class="ccv-hiddenForm" id="ccv-patent">
              <div class="ccv-formButton" data-value="출원">출원완료</div>
              <div class="ccv-formButton" data-value="등록">등록완료</div>
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-isCorporationEstablished">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">법인을 설립하고 보유중이신가요?</div>
            <div class="ccv-formButton" data-value="미설립">
              아니요, 법인을 설립하지 않았습니다.
            </div>
            <div class="ccv-formButton" data-value="설립">
              예, 법인을 설립하였습니다.
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-isCorporationEstablished-sub">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">투자유치 이력 확인</div>
            <div class="ccv-formButton" data-value="1억원 이상 투자유치">
              1억원 이상의 투자유치 이력이 있습니다.
            </div>
            <div class="ccv-formButton" data-value="투자유치 이력없음">
              1억원 미만 또는 투자유치 이력이 없습니다.
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-isStartupProgramCompleted">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">
              수료한 외국인창업교육(OASIS)프로그램을 선택해주세요
            </div>
            <div class="ccv-checkbox-container">
              <div class="ccv-formButton" id="oasis-1" data-value="OASIS-1">
                OASIS-1
              </div>
              <div class="ccv-formButton" id="oasis-2" data-value="OASIS-2">
                OASIS-2
              </div>
              <div class="ccv-formButton" id="oasis-4" data-value="OASIS-4">
                OASIS-4
              </div>
              <div class="ccv-formButton" id="oasis-5" data-value="OASIS-5">
                OASIS-5
              </div>
              <div class="ccv-formButton" id="oasis-7" data-value="OASIS-7">
                OASIS-7
              </div>
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton">결과보기</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-scoreResultLoading">
            <div class="ccv-form-title">결과 확인중입니다...</div>
            <div class="ccv-loading-spinner">
              <div class="ccv-spinner"></div>
            </div>
          </div>
        </div>

        <div class="ccv-multiDisplaySection-result">
          <!-- 결과 섹션 시작 -->
          <div
            class="ccv-result-multiResult"
            id="ccv-result-basicConditionNotMet"
          >
            <div class="ccv-form-title">
              아쉬워요<br />창업비자신청 기본조건이 충족하지 않습니다.
            </div>
            <!-- 현재 점수와 도달해야 하는 점수 표시 -->
            <div class="ccv-scoreDisplay" id="basicConditionNotMet-score"></div>
            <div class="ccv-formButton">
              <a href="https://well-come.info" class="homeButton"
                >홈으로 돌아가기</a
              >
            </div>
          </div>
          <div
            class="ccv-result-multiResult"
            id="ccv-result-applicationConditionMet"
          >
            <div class="ccv-form-title">
              축하합니다!<br />창업비자 신청조건이 충족되었습니다.
            </div>
            <!-- 현재 점수와 도달해야 하는 점수 표시 -->
            <div
              class="ccv-scoreDisplay"
              id="applicationConditionMet-score"
            ></div>
            <div class="ccv-formButton pulse resultStrong">
              <a href="#" id="ccv-application-visa">비자 신청하러 가기</a>
            </div>
            <div class="ccv-formButton">
              <a href="#" class="homeButton">홈으로 돌아가기</a>
            </div>
          </div>
          <div
            class="ccv-result-multiResult"
            id="ccv-result-applicationConditionNotMet"
          >
            <div class="ccv-form-title">
              바로 시작하기에 <span>점수가 부족</span>해요&#x1F613;<br />창업
              비자 점수 웰컴에서 만들어요!!
            </div>
            <!-- 현재 점수와 도달해야 하는 점수 표시 -->
            <div
              class="ccv-scoreDisplay"
              id="applicationConditionNotMet-score"
            ></div>

            <!-- 조건에 따른 서비스 제공 목록 -->
            <div class="ccv-form-title">
              웰컴비자에서 지원하는 점수 향상 서비스
              <ul>
                <li id="service-patentSupport" style="display: none">
                  지재권 출원 지원
                </li>
                <li id="service-corpEstablishmentSupport" style="display: none">
                  법인 설립 지원
                </li>
                <li id="service-investCorp" style="display: none">
                  투자 컨설팅
                </li>
                <li id="service-oasisSupport" style="display: none">
                  OASIS 교육 지원
                </li>
              </ul>
            </div>
            <div class="ccv-formButton pulse resultStrong">
              <a href="#" id="ccv-consulting-visa">비자 컨설팅 받기</a>
            </div>
            <div class="ccv-formButton">
              <a href="#" class="homeButton">홈으로 돌아가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cc-warringModal">
      <div class="cc-warringModal-content">
        <div class="cc-warringModal-title">경고</div>
        <div class="cc-warringModal-message"></div>
        <div class="cc-warringModal-button">확인</div>
      </div>
    </div>

    <div class="cc-infInputModal">
      <div class="infoInputModal-content">
        <div class="infInputModal-title"></div>
        <input
          type="text"
          class="ccv-input-name"
          placeholder="이름을 입력해주세요"
        />
        <input
          type="text"
          class="ccv-input-email"
          placeholder="이메일을 입력해주세요"
        />
        <input
          type="text"
          class="ccv-input-phone"
          placeholder="전화번호를 입력해주세요"
        />
        <div class="infoInputModal-button">제출하기</div>
      </div>
    </div>
    <div class="cc-footer-section">
      <div class="cc-footer">
        <div class="cc-footer-leftContent">
          <div class="cc-footer-logo">WELL-COME</div>
          <div class="cc-line"></div>
          <div class="cc-company-info">
            <p>
              Company Name : Well-come Visa Co., Ltd.<br />
              Representative : Inhyuk Lee<br />
              Address : 11th Floor, room 1113 and 1115, 78 Mapo-daero, Mapo-gu,
              Seoul<br />
              Business Registration Number : 359-86-02092<br />
              Email : info@well-come.biz<br />
              Mail Order Business Registration Number : 2023-Seoul Mapo-3768<br />
              Customer Service : +82-70-8655-2888<br />
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="google_translate_element" class="language-select">
      <span>번역</span>
      <div id="google_translate_dropdown"></div>
    </div>
    <script>
      // 브라우저 기본 언어 감지
      function getBrowserLanguage() {
        const language = navigator.language || navigator.userLanguage;
        return language.substring(0, 2); // 언어 코드만 추출 (예: "en", "ko")
      }

      // Google Translate 초기화 함수
      function googleTranslateElementInit() {
        const browserLang = getBrowserLanguage(); // 브라우저 언어 감지
        const supportedLanguages = ["en", "ko", "zh-CN"]; // 지원하는 언어 목록

        // 브라우저 언어가 지원되는 경우 해당 언어로 페이지를 자동 번역
        const pageLanguage = supportedLanguages.includes(browserLang)
          ? browserLang
          : "ko"; // 기본값은 한국어로 설정

        new google.translate.TranslateElement(
          {
            pageLanguage: pageLanguage,
            includedLanguages: "en,ko,zh-CN", // 필요한 언어 목록
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            autoDisplay: true,
          },
          "google_translate_element"
        );
      }

      // Google Translate 스크립트 로드
      (function () {
        var gtScript = document.createElement("script");
        gtScript.type = "text/javascript";
        gtScript.async = true;
        gtScript.src =
          "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(gtScript, s);
      })();
    </script>
    <script>
      function moveToContainer() {
        const dropMenuContainer = document.getElementById(
          "cc-dropMenu-container"
        );

        if (dropMenuContainer.classList.contains("cc-hidden")) {
          dropMenuContainer.classList.remove("cc-hidden");
          dropMenuContainer.classList.remove("move-out");
          dropMenuContainer.classList.add("move-in");
        } else {
          dropMenuContainer.classList.remove("move-in");
          dropMenuContainer.classList.add("move-out");
          setTimeout(() => {
            dropMenuContainer.classList.add("cc-hidden");
          }, 500);
        }
      }

      document
        .getElementById("cc-nev-dropdown")
        .addEventListener("click", function () {
          moveToContainer();
        });
    </script>
    <script>
      let currentStep = 0;
      let prevStep = 0;

      let scoreVisa = 0;

      // 페이지가 로드될 때 로컬스토리지 초기화
      if (currentStep === 0) {
        localStorage.clear();
      }

      function selectRadioButton(box) {
        const radio = box.querySelector('input[type="radio"]');
        if (radio) {
          radio.checked = true;
          updateSelection(box, ".ccv-radio-SelectBox", "selected");
          localStorage.setItem("ccv-edu-type", box.getAttribute("data-edu")); // 교육 유형 저장
          toggleEducationForm(radio.value);
          checkNextButtonState();
        }
      }

      function selectFormButton(button, parentSelector) {
        if (
          parentSelector === "ccv-result-basicConditionNotMet" ||
          parentSelector === "ccv-result-applicationConditionMet" ||
          parentSelector === "ccv-result-applicationConditionNotMet"
        )
          return;

        updateSelection(
          button,
          `#${parentSelector} .ccv-formButton`,
          "selected"
        );

        const parentElement = document.querySelector(`#${parentSelector}`);
        let nextButton = parentElement.querySelector(".ccv-nextButton");

        if (!nextButton) {
          nextButton =
            parentElement.parentElement.querySelector(".ccv-nextButton");
        }

        if (nextButton) {
          nextButton.classList.remove("deactiveted");
        }

        const selectedValue = button.getAttribute("data-value");
        switch (parentSelector) {
          case "ccv-domesticEdu":
          case "ccv-overseasEdu":
            const eduType = localStorage.getItem("ccv-edu-type");
            localStorage.setItem(
              "ccv-userEduAbility",
              `${eduType} ${selectedValue}`
            );
            break;
          case "ccv-userKoreanTestLevel":
            localStorage.setItem("ccv-userKoreanTestLevel", selectedValue);
            break;
          case "ccv-intellectualPropertyRights":
            localStorage.setItem(
              "ccv-intellectualPropertyRights",
              selectedValue === "지재권 보유" ? "보유" : "없음"
            );
            break;
          case "ccv-isCorporationEstablished":
            localStorage.setItem(
              "ccv-isCorporationEstablished",
              selectedValue === "설립" ? "설립" : "없음"
            );
            break;
          case "ccv-isCorporationEstablished-sub":
            localStorage.setItem(
              "ccv-isCorporationEstablished-sub",
              selectedValue
            );
            break;
          case "ccv-isStartupProgramCompleted":
            if (button.classList.contains("selected")) {
              localStorage.setItem(
                "ccv-isStartupProgramCompleted",
                getAllSelectedOasisPrograms().join(", ")
              );
            } else {
              removeSelectedOasisProgram(selectedValue);
            }
            break;
        }
      }

      function updateSelection(selectedElement, allSelector, selectedClass) {
        document
          .querySelectorAll(allSelector)
          .forEach((el) => el.classList.remove(selectedClass));
        selectedElement.classList.add(selectedClass);
      }

      function toggleEducationForm(educationType) {
        const domesticEdu = document.getElementById("ccv-domesticEdu");
        const overseasEdu = document.getElementById("ccv-overseasEdu");
        const intellectualPropertyRights =
          document.getElementById("ccv-patent");

        if (educationType === "domestic") {
          domesticEdu.classList.add("active");
          overseasEdu.classList.remove("active");
        } else if (educationType === "overseas") {
          domesticEdu.classList.remove("active");
          overseasEdu.classList.add("active");
        } else {
          intellectualPropertyRights.classList.add("active");
        }
      }

      function goToNextStep() {
        const steps = document.querySelectorAll(".ccv-form-multiStep");
        const currentStepElement = steps[currentStep];

        if (currentStep === 0) {
          const noneSelection =
            document.querySelector(
              '#ccv-domesticEdu .ccv-formButton[data-value="None"].selected'
            ) ||
            document.querySelector(
              '#ccv-overseasEdu .ccv-formButton[data-value="None"].selected'
            );
          if (noneSelection) {
            currentStepElement.classList.remove("active");
            document.getElementById(
              "ccv-result-basicConditionNotMet"
            ).style.display = "flex";
            document.getElementById(
              "ccv-result-basicConditionNotMet"
            ).style.flexDirection = "column";
            document.getElementById(
              "ccv-result-basicConditionNotMet"
            ).style.gap = "20px";
            return;
          }
        }

        calcSelectedScore(currentStep);
        updateScoreDisplay();

        if (
          currentStep === 0 &&
          !document.querySelector(
            "#ccv-domesticEdu .ccv-formButton.selected"
          ) &&
          !document.querySelector("#ccv-overseasEdu .ccv-formButton.selected")
        ) {
          warringPopup("학력을 선택해주세요.");
          return;
        } else if (
          currentStep === 1 &&
          !document.querySelector(
            "#ccv-userKoreanTestLevel .ccv-formButton.selected"
          )
        ) {
          warringPopup("한국어 능력시험 점수를 선택해주세요.");
          return;
        } else if (
          currentStep === 2 &&
          !document.querySelector(
            "#ccv-intellectualPropertyRights .ccv-formButton.selected"
          )
        ) {
          warringPopup("지식재산권 보유 여부를 선택해주세요.");
          return;
        } else if (
          currentStep === 3 &&
          !document.querySelector("#ccv-patent .ccv-formButton.selected")
        ) {
          warringPopup("지식재산권 종류와 상태를 선택해주세요.");
          return;
        } else if (
          currentStep === 4 &&
          !document.querySelector(
            "#ccv-isCorporationEstablished .ccv-formButton.selected"
          )
        ) {
          warringPopup("법인 설립 여부를 선택해주세요.");
          return;
        } else if (
          currentStep === 5 &&
          !document.querySelector(
            "#ccv-isCorporationEstablished-sub .ccv-formButton.selected"
          )
        ) {
          warringPopup("투자유치 이력을 선택해주세요.");
          return;
        }

        currentStepElement.classList.remove("active");

        prevStep = currentStep;

        if (currentStep === 2) {
          const ipSelection = document.querySelector(
            "#ccv-intellectualPropertyRights .ccv-formButton.selected"
          ).dataset.value;
          if (ipSelection !== "지재권 보유") currentStep += 1;
        }
        if (currentStep === 3) {
          const ipTypeElement = document.querySelector(
            'input[name="intellectual_property"]:checked'
          );
          const ipStatusElement = document.querySelector(
            "#ccv-patent .ccv-formButton.selected"
          );
          if (ipTypeElement && ipStatusElement) {
            const ipType = ipTypeElement.value;
            const ipStatus = ipStatusElement.getAttribute("data-value");
            localStorage.setItem("ccv-intellectualPropertyType", ipType);
            localStorage.setItem("ccv-intellectualPropertyStatus", ipStatus);
          }
        }
        if (currentStep === 4) {
          const corporationSelection = document.querySelector(
            "#ccv-isCorporationEstablished .ccv-formButton.selected"
          ).dataset.value;
          if (corporationSelection !== "설립") currentStep += 1;
        }
        currentStep += 1;

        if (currentStep < steps.length) {
          steps[currentStep].classList.add("active");
        }
        // 결과 페이지로 이동
        if (currentStep === steps.length - 1) {
          setTimeout(() => {
            const loadingSection = document.getElementById(
              "ccv-scoreResultLoading"
            );
            loadingSection.classList.remove("active");
            if (scoreVisa >= 80) {
              showResult("ccv-result-applicationConditionMet");
            } else {
              saveStateToLocalStorage();
              showResult("ccv-result-applicationConditionNotMet");
            }
          }, 1500); // 1.5초 후 결과 페이지로 이동
        }
      }

      function goToPrevStep() {
        const steps = document.querySelectorAll(".ccv-form-multiStep");
        const currentStepElement = steps[currentStep];

        currentStepElement.classList.remove("active");

        prevCalcSelectScore(currentStep);
        updateScoreDisplay();

        currentStep = prevStep;
        if (prevStep === 4 || prevStep === 6) {
          prevStep -= 1;
        }
        prevStep -= 1;

        if (currentStep >= 0) {
          steps[currentStep].classList.add("active");
        }
      }

      function warringPopup(message) {
        const warringModal = document.querySelector(".cc-warringModal");
        const warringMessage = document.querySelector(
          ".cc-warringModal-message"
        );
        const warringButton = document.querySelector(".cc-warringModal-button");

        warringMessage.textContent = message;
        warringModal.style.display = "flex";
        warringButton.addEventListener("click", () => {
          warringModal.style.display = "none";
        });
      }

      function checkNextButtonState() {
        const nextButton = document.querySelector(
          "#ccv-isStartupProgramCompleted .ccv-nextButton"
        );
        if (
          document.querySelectorAll(
            "#ccv-isStartupProgramCompleted .ccv-formButton.selected"
          ).length > 0
        ) {
          nextButton.classList.remove("deactiveted");
        } else {
          nextButton.classList.add("deactiveted");
        }
      }

      function calcSelectedScore(currentStep) {
        if (currentStep === 0) {
          const domesticEdu = document.querySelector(
            "#ccv-domesticEdu .ccv-formButton.selected"
          );
          const overseasEdu = document.querySelector(
            "#ccv-overseasEdu .ccv-formButton.selected"
          );
          if (domesticEdu) {
            if (domesticEdu.dataset.value === "전문학사") scoreVisa += 0;
            else if (domesticEdu.dataset.value === "학사") scoreVisa += 5;
            else if (domesticEdu.dataset.value === "석사") scoreVisa += 5;
            else if (domesticEdu.dataset.value === "박사") scoreVisa += 10;
          } else if (overseasEdu) {
            if (overseasEdu.dataset.value === "학사") scoreVisa += 5;
            else if (overseasEdu.dataset.value === "석사") scoreVisa += 5;
            else if (overseasEdu.dataset.value === "박사") scoreVisa += 10;
          }
        } else if (currentStep === 1) {
          const koreanTest = document.querySelector(
            "#ccv-userKoreanTestLevel .ccv-formButton.selected"
          );
          if (koreanTest) {
            if (koreanTest.dataset.value === "TOPIK 3급 이상") scoreVisa += 10;
            else if (koreanTest.dataset.value === "TOPIK 3급 미만")
              scoreVisa += 0;
          }
        } else if (currentStep === 3) {
          const intellectualPropertyRightsType = document.querySelector(
            "#ccv-intellectualPropertyRights-sub"
          );
          if (
            intellectualPropertyRightsType.querySelector(
              '.ccv-radio-SelectBox input[type="radio"]:checked'
            ).value === "tech"
          ) {
            if (
              intellectualPropertyRightsType.querySelector(
                ".ccv-formButton.selected"
              ).dataset.value === "출원"
            )
              scoreVisa += 20;
            else if (
              intellectualPropertyRightsType.querySelector(
                ".ccv-formButton.selected"
              ).dataset.value === "등록"
            )
              scoreVisa += 80;
          } else if (
            intellectualPropertyRightsType.querySelector(
              '.ccv-radio-SelectBox input[type="radio"]:checked'
            ).value === "design"
          ) {
            if (
              intellectualPropertyRightsType.querySelector(
                ".ccv-formButton.selected"
              ).dataset.value === "출원"
            )
              scoreVisa += 10;
            else if (
              intellectualPropertyRightsType.querySelector(
                ".ccv-formButton.selected"
              ).dataset.value === "등록"
            )
              scoreVisa += 50;
          }
        } else if (currentStep === 4) {
          const corporationEstablished = document.querySelector(
            "#ccv-isCorporationEstablished .ccv-formButton.selected"
          );
          if (corporationEstablished) {
            if (corporationEstablished.dataset.value === "설립")
              scoreVisa += 15;
            else if (corporationEstablished.dataset.value === "미설립")
              scoreVisa += 0;
          }
        } else if (currentStep === 5) {
          const corporationEstablishedSub = document.querySelector(
            "#ccv-isCorporationEstablished-sub .ccv-formButton.selected"
          );
          if (corporationEstablishedSub) {
            if (
              corporationEstablishedSub.dataset.value === "1억원 이상 투자유치"
            )
              scoreVisa += 80;
            else if (
              corporationEstablishedSub.dataset.value === "투자유치 이력없음"
            )
              scoreVisa += 0;
          }
        } else if (currentStep === 6) {
          const startupProgramCompleted = document.querySelector(
            "#ccv-isStartupProgramCompleted .ccv-formButton.selected"
          );
          if (startupProgramCompleted) {
            if (startupProgramCompleted.dataset.value === "OASIS-1")
              scoreVisa += 15;
            if (startupProgramCompleted.dataset.value === "OASIS-2")
              scoreVisa += 25;
            if (startupProgramCompleted.dataset.value === "OASIS-4")
              scoreVisa += 25;
            if (startupProgramCompleted.dataset.value === "OASIS-5")
              scoreVisa += 15;
            if (startupProgramCompleted.dataset.value === "OASIS-7")
              scoreVisa += 15;
          }
        }
      }

      function getAllSelectedOasisPrograms() {
        const selectedPrograms = [];
        document
          .querySelectorAll(
            "#ccv-isStartupProgramCompleted .ccv-formButton.selected"
          )
          .forEach((button) => {
            selectedPrograms.push(button.dataset.value);
          });
        return selectedPrograms;
      }

      function removeSelectedOasisProgram(program) {
        const programs = getAllSelectedOasisPrograms().filter(
          (p) => p !== program
        );
        if (programs.length > 0) {
          localStorage.setItem(
            "ccv-isStartupProgramCompleted",
            programs.join(", ")
          );
        } else {
          localStorage.setItem("ccv-isStartupProgramCompleted", "없음");
        }
      }

      function gotoInit() {
        const steps = document.querySelectorAll(".ccv-form-multiStep");
        const buttons = document.querySelectorAll(".ccv-formButton");
        const resultbox = document.querySelectorAll(".ccv-result-multiResult");

        const domesticEdu = document.getElementById("ccv-domesticEdu");
        const overseasEdu = document.getElementById("ccv-overseasEdu");
        const patent = document.getElementById("ccv-patent");
        const radioButtons = document.querySelectorAll(
          '.ccv-radio-SelectBox .input[type="radio"]'
        );

        steps.forEach((step) => step.classList.remove("active"));
        steps[0].classList.add("active");

        buttons.forEach((button) => button.classList.remove("selected"));
        buttons.forEach((button) => button.classList.remove("deactiveted"));

        radioButtons.forEach((radio) => radio.removeAttribute("checked"));

        resultbox.forEach((box) => (box.style.display = "none"));

        domesticEdu.classList.remove("active");
        overseasEdu.classList.remove("active");

        patent.classList.remove("active");

        currentStep = 0;
        prevStep = 0;
        scoreVisa = 0;
        updateScoreDisplay();
        document.getElementById(
          "ccv-result-basicConditionNotMet"
        ).style.display = "none";
        document.getElementById(
          "ccv-result-applicationConditionMet"
        ).style.display = "none";
        document.getElementById(
          "ccv-result-applicationConditionNotMet"
        ).style.display = "none";
      }

      function prevCalcSelectScore(currentStep) {
        if (currentStep === 1) {
          const domesticEdu = document.querySelector(
            "#ccv-domesticEdu .ccv-formButton.selected"
          );
          const overseasEdu = document.querySelector(
            "#ccv-overseasEdu .ccv-formButton.selected"
          );

          if (domesticEdu) {
            if (domesticEdu.dataset.value === "전문학사") scoreVisa -= 0;
            else if (domesticEdu.dataset.value === "학사") scoreVisa -= 5;
            else if (domesticEdu.dataset.value === "석사") scoreVisa -= 5;
            else if (domesticEdu.dataset.value === "박사") scoreVisa -= 10;
          } else if (overseasEdu) {
            if (overseasEdu.dataset.value === "학사") scoreVisa -= 5;
            else if (overseasEdu.dataset.value === "석사") scoreVisa -= 5;
            else if (overseasEdu.dataset.value === "박사") scoreVisa -= 10;
          }
        } else if (currentStep === 2) {
          const koreanTest = document.querySelector(
            "#ccv-userKoreanTestLevel .ccv-formButton.selected"
          );
          if (koreanTest) {
            if (koreanTest.dataset.value === "TOPIK 3급 이상") scoreVisa -= 10;
            else if (koreanTest.dataset.value === "TOPIK 3급 미만")
              scoreVisa -= 0;
          }
        } else if (currentStep === 4) {
          const ipRights = document.querySelector(
            "#ccv-intellectualPropertyRights .ccv-formButton.selected"
          );
          const intellectualPropertyRightsType = document.querySelector(
            "#ccv-intellectualPropertyRights-sub"
          );
          if (ipRights.dataset.value === "지재권 보유") {
            if (
              intellectualPropertyRightsType.querySelector(
                '.ccv-radio-SelectBox input[type="radio"]:checked'
              ).value === "tech"
            ) {
              if (
                intellectualPropertyRightsType.querySelector(
                  ".ccv-formButton.selected"
                ).dataset.value === "출원"
              )
                scoreVisa -= 20;
              else if (
                intellectualPropertyRightsType.querySelector(
                  ".ccv-formButton.selected"
                ).dataset.value === "등록"
              )
                scoreVisa -= 80;
            } else if (
              intellectualPropertyRightsType.querySelector(
                '.ccv-radio-SelectBox input[type="radio"]:checked'
              ).value === "design"
            ) {
              if (
                intellectualPropertyRightsType.querySelector(
                  ".ccv-formButton.selected"
                ).dataset.value === "출원"
              )
                scoreVisa -= 10;
              else if (
                intellectualPropertyRightsType.querySelector(
                  ".ccv-formButton.selected"
                ).dataset.value === "등록"
              )
                scoreVisa -= 50;
            }
            intellectualPropertyRightsType
              .querySelector(".ccv-formButton.selected")
              .classList.remove("selected");
          }
        } else if (currentStep === 5) {
          const corporationEstablished = document.querySelector(
            "#ccv-isCorporationEstablished .ccv-formButton.selected"
          );
          if (corporationEstablished.dataset.value === "설립") scoreVisa -= 15;
          else if (corporationEstablished.dataset.value === "미설립")
            scoreVisa -= 0;
        } else if (currentStep === 6) {
          const corporationEstablishedSub = document.querySelector(
            "#ccv-isCorporationEstablished-sub .ccv-formButton.selected"
          );
          if (corporationEstablishedSub) {
            if (
              corporationEstablishedSub.dataset.value === "1억원 이상 투자유치"
            )
              scoreVisa -= 80;
            else if (
              corporationEstablishedSub.dataset.value === "투자유치 이력없음"
            )
              scoreVisa -= 0;
          }
        }
      }

      function showResult(resultId) {
        const resultElement = document.getElementById(resultId);
        resultElement.style.display = "flex";
        resultElement.style.flexDirection = "column";
        resultElement.style.gap = "20px";

        // 현재 점수와 도달해야 하는 점수 표시
        let scoreDisplayElement;
        if (resultId === "ccv-result-applicationConditionMet") {
          scoreDisplayElement = document.getElementById(
            "applicationConditionMet-score"
          );
          scoreDisplayElement.textContent = `현재 점수: ${scoreVisa}, 목표 점수: 80`;
        } else if (resultId === "ccv-result-applicationConditionNotMet") {
          scoreDisplayElement = document.getElementById(
            "applicationConditionNotMet-score"
          );
          scoreDisplayElement.textContent = `현재 점수: ${scoreVisa}, 목표 점수: 80`;

          // 서비스 제공 버튼 표시
          if (scoreVisa < 80) {
            const ipSelection = document.querySelector(
              "#ccv-intellectualPropertyRights .ccv-formButton.selected"
            );
            const ipSelectType = document.querySelector(
              '#ccv-intellectualPropertyRights-sub .ccv-radio-SelectBox input[type="radio"]:checked'
            );
            const corpEstablishment = document.querySelector(
              "#ccv-isCorporationEstablished .ccv-formButton.selected"
            );

            if (
              ipSelection.dataset.value === "지재권 미보유" ||
              (ipSelection.dataset.value === "지재권 보유" &&
                ipSelectType.value === "design")
            ) {
              document.getElementById("service-patentSupport").style.display =
                "block";
            }
            if (
              corpEstablishment &&
              corpEstablishment.dataset.value === "미설립"
            ) {
              document.getElementById(
                "service-corpEstablishmentSupport"
              ).style.display = "block";
            }
            const oasisSelections = document.querySelectorAll(
              "#ccv-isStartupProgramCompleted .ccv-formButton"
            );
            let allSelected = true;
            oasisSelections.forEach((button) => {
              if (!button.classList.contains("selected")) {
                allSelected = false;
              }
            });
            if (!allSelected) {
              document.getElementById("service-oasisSupport").style.display =
                "block";
            }
          }
        } else if (resultId === "ccv-result-basicConditionNotMet") {
          scoreDisplayElement = document.getElementById(
            "basicConditionNotMet-score"
          );
          scoreDisplayElement.textContent = `현재 점수: ${scoreVisa}, 목표 점수: 80`;
          scoreDisplayElement.style.color = "red";
        }
      }

      function updateScoreDisplay() {
        const scoreDisplayElements = document.querySelectorAll("#scoreDisplay");
        scoreDisplayElements.forEach((element) => {
          element.textContent = `현재 점수: ${scoreVisa}`;
        });
      }

      function saveStateToLocalStorage() {
        const selectedOptions = document.querySelectorAll(
          ".ccv-formButton.selected"
        );
        selectedOptions.forEach((option) => {
          localStorage.setItem(option.parentElement.id, option.dataset.value);
        });
      }

      function visa_submitInfo() {
        // 유저 입력 정보를 폼의 해당 필드에 전달
        document.getElementById("input_txt_b15643fce7e26").value =
          document.querySelector(".ccv-input-name").value;
        document.getElementById("input_txt_NfS66eC714").value =
          document.querySelector(".ccv-input-email").value;
        document.getElementById("input_txt_2ed1d42de6db1").value =
          document.querySelector(".ccv-input-phone").value;
        document.getElementById("input_txt_ddd7bc247bfed").value =
          localStorage.getItem("ccv-userEduAbility") || "없음";
        document.getElementById("input_txt_DvmOxh6BpV").value =
          localStorage.getItem("ccv-userKoreanTestLevel") || "없음";
        document.getElementById("input_txt_CT785i0xE1").value =
          localStorage.getItem("ccv-intellectualPropertyRights") || "없음";
        document.getElementById("input_txt_01977756V0").value =
          localStorage.getItem("ccv-intellectualPropertyType") || "없음";
        document.getElementById("input_txt_oW2O4098Om").value =
          localStorage.getItem("ccv-intellectualPropertyStatus") || "없음";
        document.getElementById("input_txt_23hT256VV6").value =
          localStorage.getItem("ccv-isCorporationEstablished") || "없음";
        document.getElementById("input_txt_88x43J0Ta7").value =
          localStorage.getItem("ccv-isCorporationEstablished-sub") || "없음";
        document.getElementById("input_txt_31B2J1Za88").value =
          localStorage.getItem("ccv-isStartupProgramCompleted") || "없음";

        // 폼 제출
        SITE_FORM.confirmInputForm("w2024082259f02e163f56b", "N");

        // 모달 닫기 및 로컬스토리지 초기화
        document.querySelector(".cc-infInputModal").style.display = "none";
        document.querySelector(".infoInputModal-content").style.display =
          "none";
        localStorage.clear();
      }

      document.querySelectorAll(".ccv-radio-SelectBox").forEach((box) => {
        box.addEventListener("click", () => {
          selectRadioButton(box);
        });
      });

      document.querySelectorAll(".ccv-formButton").forEach((button) => {
        button.addEventListener("click", () => {
          selectFormButton(button, button.parentElement.id);
        });
      });

      document.addEventListener("click", function (event) {
        if (event.target.classList.contains("ccv-nextButton")) {
          goToNextStep();
        } else if (event.target.classList.contains("ccv-prevButton")) {
          goToPrevStep();
        }
      });

      document
        .querySelectorAll("#ccv-isStartupProgramCompleted .ccv-formButton")
        .forEach((button) => {
          button.addEventListener("click", () => {
            if (button.classList.contains("selected")) {
              button.classList.remove("selected");
              removeSelectedOasisProgram(button.dataset.value);
            } else {
              button.classList.add("selected");
              localStorage.setItem(
                "ccv-isStartupProgramCompleted",
                getAllSelectedOasisPrograms().join(", ")
              );
            }
            checkNextButtonState();
          });

          if (localStorage.getItem(button.id)) {
            button.classList.add("selected");
          }
        });

      document.querySelectorAll(".homeButton").forEach((button) => {
        button.addEventListener("click", function (event) {
          event.preventDefault();
          gotoInit();
          localStorage.clear();
          currentStep = 0;
        });
      });

      document
        .getElementById("ccv-application-visa")
        .addEventListener("click", function (event) {
          event.preventDefault();
          document.querySelector(".cc-infInputModal").style.display = "block";
        });

      document
        .getElementById("ccv-consulting-visa")
        .addEventListener("click", function (event) {
          event.preventDefault();
          document.querySelector(".cc-infInputModal").style.display = "block";
        });

      document
        .querySelector(".infoInputModal-button")
        .addEventListener("click", visa_submitInfo);
    </script>
  </body>
</html>
