<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/reForeginCorporation.css" />
  </head>
  <body>
    <div class="cc-nav-container">
      <div class="cc-mo-grid-container">
        <div id="cc-nav-moLogo">
          <a href="https://well-come.info">WELL-COME</a>
        </div>
        <div id="cc-nev-dropdown">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div id="cc-dropMenu-container" class="cc-hidden move-out">
          <div class="cc-serviceTitle">외국인 서비스</div>
          <div class="cc-dropMenu-line"></div>
          <div class="cc-dropMenu" id="cc-dropMenu-1">
            <a href="https://well-come.info/">외국인 취업</a>
          </div>
          <div class="cc-dropMenu" id="cc-dropMenu-2">
            <a href="https://well-come.info/corporate-visa">외국인 창업비자</a>
          </div>
          <div class="cc-dropMenu" id="cc-dropMenu-3">
            <a href="https://well-come.info/incorporation">외국인 법인설립</a>
          </div>
          <div class="cc-serviceTitle">기업 서비스</div>
          <div class="cc-dropMenu-line"></div>
          <div class="cc-dropMenu" id="cc-dropMenu-4">
            <a href="#">서비스 문의</a>
          </div>

          <div id="cc-nav-moLogo">
            <a href="https://well-come.info">WELL-COME</a>
            <div>서울시 마포구 마포대로 78<br />자람빌딩 11층 1113,1115호</div>
            <div>1551-8016</div>
          </div>
        </div>
      </div>

      <div class="cc-grid-container">
        <div class="cc-nav-logo" id="cc-nav-topLogo">
          <a href="https://well-come.info">WELL-COME</a>
        </div>
        <div class="cc-nav-menu-container">
          <div></div>
          <div></div>
          <div class="cc-topMenu" id="cc-topMenu-1">
            <a href="https://well-come.info/incorporation">법인설립</a>
          </div>
          <div class="cc-topMenu active" id="cc-topMenu-2">
            <a class="cc-active" href="https://well-come.info/corporate-visa"
              >창업비자</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="ccv-fullSection-container">
      <div class="ccv-mainSection">
        <div class="ccv-multiDisplaySection-form">
          <!-- 폼 섹션 시작 -->
          <section class="ccv-form-multiStep active" id="ccv-userEduAbility">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">내국인/ 외국인 선택해주세요</div>
            <div class="ccv-userEduCountry">
              <div class="ccv-radio-SelectBox" data-edu="domestic">
                <input type="radio" name="education_level" value="domestic" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/17ae2878ffff8.png"
                />
                내국인
              </div>
              <div class="ccv-radio-SelectBox" data-edu="overseas">
                <input type="radio" name="education_level" value="overseas" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/736184391d2cb.png"
                />
                외국인
              </div>
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </section>

          <section class="ccv-form-multiStep" id="ccv-">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">거주 지역</div>
            <div class="ccv-radio-SelectBox" data-value="한국 거주">
              <input type="radio" name="education_level" value="Korea" />
              한국 거주</div>
            <div class="ccv-radio-SelectBox" data-value="해외 거주">
              <input type="radio" name="education_level" value="Foregin" />
              해외 거주</div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </section>

          <section class="ccv-form-multiStep" id="ccv-intellectualPropertyRights">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">회사의 설립 형태 선택해주세요</div>
            <div class="ccv-radio-SelectBox" data-value="주식회사">
              <input type="radio" name="education_level" value="Corp" />
              주식회사</div>
            <div class="ccv-radio-SelectBox" data-value="유한책임회사">
              <input type="radio" name="education_level" value="LLC" />
              유한책임회사
            </div>
            <div class="ccv-radio-SelectBox" data-value="유한회사">
              <input type="radio" name="education_level" value="Ltd" />
              유한회사</div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </section>

          <section
            class="ccv-form-multiStep"
            id="ccv-intellectualPropertyRights-sub"
          >
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">회사의 설립 지역을 선택해주세요</div>
            <div class="ccv-intellectualPropertyRightsType">
              <div class="ccv-radio-SelectBox">
                <input type="radio" name="intellectual_property" value="seoul" />

                서울
              </div>
              <div class="ccv-radio-SelectBox">
                <input
                  type="radio"
                  name="intellectual_property"
                  value="other"
                />

                경기도
              </div>
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </section>

          <section class="ccv-form-multiStep" id="ccv-isCorporationEstablished">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">법인명을 작성해주세요</div>
            <input type="text" class="ccv-formButton" placeholder="법인명" />
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </section>

          <section class="ccv-form-multiStep" id="ccv-isCorporationEstablished-sub">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">이름과 연락처를 작성해주세요</div>
            <input type="text" class="ccv-formButton" placeholder="이름" />
            <input type="text" class="ccv-formButton" placeholder="연락처" />

            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">상담받기</div>
            </div>
          </section>

          
          </div>
        </div>
      </div>
    </div>

    <section class="cc-warringModal">
      <div class="cc-warringModal-content">
        <div class="cc-warringModal-title">경고</div>
        <div class="cc-warringModal-message"></div>
        <div class="cc-warringModal-button">확인</div>
      </div>
    </section>

    <section class="cc-infInputModal">
      <div class="infoInputModal-content">
        <div class="infInputModal-title"></div>
        <input
          type="text"
          class="ccv-input-name"
          placeholder="이름을 입력해주세요"
        />
        <input
          type="text"
          class="ccv-input-email"
          placeholder="이메일을 입력해주세요"
        />
        <input
          type="text"
          class="ccv-input-phone"
          placeholder="전화번호를 입력해주세요"
        />
        <div class="infoInputModal-button">제출하기</div>
      </div>
    </section>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const nextButtons = document.querySelectorAll(".ccv-nextButton");
        const prevButtons = document.querySelectorAll(".ccv-prevButton");
        const steps = document.querySelectorAll(".ccv-form-multiStep");
    
        let currentStep = 0;
    
        // 초기 단계에서 로컬 스토리지 초기화
        if (currentStep === 0) {
          localStorage.clear();
        }
    
        // 주어진 인덱스에 해당하는 단계만 보이도록 설정
        function showStep(index) {
          steps.forEach((step, i) => {
            step.classList.toggle("active", i === index);
          });
        }
    
        // 경고 팝업을 표시하는 함수
        function warringPopup(message) {
          const warringModal = document.querySelector(".cc-warringModal");
          const warringMessage = document.querySelector(
            ".cc-warringModal-message"
          );
          const warringButton = document.querySelector(".cc-warringModal-button");
    
          warringMessage.textContent = message;
          warringModal.style.display = "flex";
          warringButton.addEventListener("click", () => {
            warringModal.style.display = "none";
          });
        }
    
        // 현재 단계에 대한 유효성 검사
        function validateStep() {
          const validationRules = [
            {
              step: 0,
              message: "국가를 선택해주세요.",
              selector: 'input[name="education_level"]:checked', // 라디오 버튼 체크 확인
            },
            {
              step: 1,
              message: "거주 국가 선택해주세요.",
              selector: "#ccv-userKoreanTestLevel .ccv-formButton.selected",
            },
            {
              step: 2,
              message: "회사의 형식을 선택해주세요.",
              selector: "#ccv-intellectualPropertyRights .ccv-formButton.selected",
            },
            {
              step: 3,
              message: "회사의 설립지역을 선택해주세요.",
              selector: "#ccv-patent .ccv-formButton.selected",
            },
            {
              step: 4,
              message: "법인명을 입력해주세요",
              selector: "#ccv-isCorporationEstablished .ccv-formButton.selected",
            },
            {
              step: 5,
              message: "이름과 연락처를 입력해주세요.",
              selector: "#ccv-isCorporationEstablished-sub .ccv-formButton.selected",
            },
          ];
    
          const rule = validationRules[currentStep];
          const storedValue = localStorage.getItem(`${currentStep} selectedValue`);
          if (!storedValue) {
              // warringPopup(rule.message); // 경고 메시지 표시
              // return false; // 유효성 검사 실패
          }
          return true; // 유효성 검사 통과
        }
    
        // 로컬 스토리지에 값 저장
        function saveToLocalStorage(key, value) {
          localStorage.setItem(key, value);
          console.log(localStorage); // 저장된 로컬 스토리지 확인
        }
    
        // 카드 클릭 시 로컬 스토리지에 값 저장
        function handleCardClick(event) {
          const selectedRadioValue = event.currentTarget.querySelector('input[type="radio"]');
          if (selectedRadioValue) {
            saveToLocalStorage(`${currentStep} selectedValue`, selectedRadioValue.value);
          } 
          }

        // 다음 단계로 이동하는 함수
        function goToNextStep() {
          const currentStepElement = steps[currentStep];
    
          if (!validateStep()) {
            return; // 유효성 검사 실패 시 종료
          }
    
          currentStepElement.classList.remove("active");
         

          currentStep += 1; // 다음 단계로 이동
    
          if (currentStep < steps.length) {
            steps[currentStep].classList.add("active");
          }
    
          // 결과 페이지로 이동
          if (currentStep === steps.length - 1) {
            setTimeout(() => {
              const loadingSection = document.getElementById("ccv-scoreResultLoading");
              loadingSection.classList.remove("active");
              // 추가 로직...
            }, 1500);
          }
        }

      // 카드 클릭 이벤트 추가
      const radioSelectBoxes = document.querySelectorAll('.ccv-radio-SelectBox');
      radioSelectBoxes.forEach(box => {
        box.addEventListener('click', handleCardClick); // 카드 클릭 시 값 저장
      });

      // input text 추가 이벤트
      const textSelectBoxes = document.querySelectorAll('.ccv-formButton');
      textSelectBoxes.forEach((input) => {
        input.addEventListener('input', (e) => {
          const value = e.target.value;
          const placeholder = input.placeholder;

          saveToLocalStorage(`${currentStep} selectedValue - ${placeholder}`, value);

          console.log(`Saved ${placeholder}: ${value}`); // 저장된 값 확인용
        });
      });
      
        // 다음 버튼 클릭 시 goToNextStep 호출
        nextButtons.forEach((button) => {
          button.addEventListener("click", goToNextStep);
          
        });
    
        // 이전 버튼 클릭 시 이전 단계로 이동
        prevButtons.forEach((button) => {
          button.addEventListener("click", () => {
            if (currentStep > 0) {
              currentStep--;
              showStep(currentStep);
            }
          });
        }); 
    
        // 초기 단계 표시
        showStep(currentStep);
      });
    </script>
    
  </body>
</html>
