<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/reForeginCorporation.css" />
  </head>
  <body>
    <div class="fc-nav-container">
      <div class="fc-mo-grid-container">
        <div id="fc-nav-moLogo">
          <a href="https://well-come.info">WELL-COME</a>
        </div>
        <div id="fc-nev-dropdown">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div id="fc-dropMenu-container" class="fc-hidden move-out">
          <div class="fc-serviceTitle">외국인 서비스</div>
          <div class="fc-dropMenu-line"></div>
          <div class="fc-dropMenu" id="fc-dropMenu-1">
            <a href="https://well-come.info/">외국인 취업</a>
          </div>
          <div class="fc-dropMenu" id="fc-dropMenu-2">
            <a href="https://well-come.info/corporate-visa">외국인 창업비자</a>
          </div>
          <div class="fc-dropMenu" id="fc-dropMenu-3">
            <a href="https://well-come.info/incorporation">외국인 법인설립</a>
          </div>
          <div class="fc-serviceTitle">기업 서비스</div>
          <div class="fc-dropMenu-line"></div>
          <div class="fc-dropMenu" id="fc-dropMenu-4">
            <a href="#">서비스 문의</a>
          </div>

          <div id="fc-nav-moLogo">
            <a href="https://well-come.info">WELL-COME</a>
            <div>서울시 마포구 마포대로 78<br />자람빌딩 11층 1113,1115호</div>
            <div>1551-8016</div>
          </div>
        </div>
      </div>

      <div class="fc-grid-container">
        <div class="fc-nav-logo" id="fc-nav-topLogo">
          <a href="https://well-come.info">WELL-COME</a>
        </div>
        <div class="fc-nav-menu-container">
          <div></div>
          <div></div>
          <div class="fc-topMenu" id="fc-topMenu-1">
            <a href="https://well-come.info/incorporation">법인설립</a>
          </div>
          <div class="fc-topMenu active" id="fc-topMenu-2">
            <a class="fc-active" href="https://well-come.info/corporate-visa"
              >창업비자</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="fc-fullSection-container">
      <div class="fc-mainSection">
        <div class="fc-multiDisplaySection-form">
          <!-- 폼 섹션 시작 -->
          <section class="fc-form-multiStep active" id="fc-userEduAbility">
            <div class="fc-scoreDisplay" id="scoreDisplay"></div>
            <div class="fc-form-title">请选择 韩国人/外国人</div>
            <div class="fc-userEduCountry">
              <div class="fc-radio-SelectBox" data-edu="내국인">
                <input type="radio" name="education_level" value="내국인" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/17ae2878ffff8.png"
                />
                韩国人
              </div>
              <div class="fc-radio-SelectBox" data-edu="overseas">
                <input type="radio" name="education_level" value="외국인" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/736184391d2cb.png"
                />
                外国人
              </div>
            </div>
            <div class="fc-activeControlBox">
              <div class="fc-nextButton deactiveted">下一步</div>
            </div>
          </section>

          <section class="fc-form-multiStep" id="fc-">
            <div class="fc-scoreDisplay" id="scoreDisplay"></div>
            <div class="fc-form-title">居住地区</div>
            <div class="fc-radio-SelectBox" data-value="한국 거주">
              <input type="radio" name="education_level" value="한국 거주" />
              韩国</div>
            <div class="fc-radio-SelectBox" data-value="해외 거주">
              <input type="radio" name="education_level" value="해외 거주" />
              海外</div>
            <div class="fc-activeControlBox">
              <div class="fc-prevButton">上一步</div>
              <div class="fc-nextButton deactiveted">下一步</div>
            </div>
          </section>
          <section class="fc-form-multiStep" id="fc-intellectualPropertyRights">
            <div class="fc-scoreDisplay" id="scoreDisplay"></div>
            <div class="fc-form-title">请选择注册公司的类型</div>
            <div class="fc-radio-SelectBox" data-value="주식회사">
              <input type="radio" name="education_level" value="주식회사" />
              股份公司</div>
            <div class="fc-radio-SelectBox" data-value="유한책임회사">
              <input type="radio" name="education_level" value="유한책임회사" />
              责任有限公司
            </div>
            <div class="fc-radio-SelectBox" data-value="유한회사">
              <input type="radio" name="education_level" value="유한회사" />
              有限公司</div>
            <div class="fc-activeControlBox">
              <div class="fc-prevButton">上一步</div>
              <div class="fc-nextButton deactiveted">下一步</div>
            </div>
          </section>

          <section
            class="fc-form-multiStep"
            id="fc-intellectualPropertyRights-sub"
          >
            <div class="fc-scoreDisplay" id="scoreDisplay"></div>
            <div class="fc-form-title">请选择公司设立地区</div>
      
              <select name="intellectual_property" class="fc-dropdown" id="regionSelect" size="4">
                <option value="서울특별시 강남구">首尔特别市 江南区</option>,
                <option value="서울특별시 강동구">首尔特别市 江东区</option>,
                <option value="서울특별시 강북구">首尔特别市 江北区</option>,
                <option value="서울특별시 강서구">首尔特别市 江西区</option>,
                <option value="서울특별시 관악구">首尔特别市 冠岳区</option>,
                <option value="서울특별시 광진구">首尔特别市 广津区</option>,
                <option value="서울특별시 구로구">首尔特别市 九老区</option>,
                <option value="서울특별시 금천구">首尔特别市 衿川区</option>,
                <option value="서울특별시 노원구">首尔特别市 芦原区</option>
                <option value="서울특별시 도봉구">首尔特别市 道峰区</option>
                <option value="서울특별시 동대문구">首尔特别市 东大门区</option>
                <option value="서울특별시 동작구">首尔特别市 铜雀区</option>
                <option value="서울특별시 마포구">首尔特别市 麻浦区</option>
                <option value="서울특별시 서대문구">首尔特别市 西大门区</option>
                <option value="서울특별시 서초구">首尔特别市 瑞草区</option>
                <option value="서울특별시 성동구">首尔特别市 城东区</option>
                <option value="서울특별시 성북구">首尔特别市 城北区</option>
                <option value="서울특별시 송파구">首尔特别市 松坡区</option>
                <option value="서울특별시 양천구">首尔特别市 阳川区</option>
                <option value="서울특별시 영등포구">首尔特别市 永登浦区</option>
                <option value="서울특별시 용산구">首尔特别市 龙山区</option>
                <option value="서울특별시 은평구">首尔特别市 恩平区</option>
                <option value="서울특별시 종로구">首尔特别市 钟路区</option>
                <option value="서울특별시 중구">首尔特别市 中区</option>
                <option value="서울특별시 중랑구">首尔特别市 中浪区</option>
                <option value="경기도 고양시">京畿道 高阳市</option>
                <option value="경기도 과천시">京畿道 果川市</option>
                <option value="경기도 광명시">京畿道 光明市</option>
                <option value="경기도 광주시">京畿道 广州市</option>
                <option value="경기도 구리시">京畿道 九里市</option>
                <option value="경기도 군포시">京畿道 军浦市</option>
                <option value="경기도 김포시">京畿道 金浦市</option>
                <option value="경기도 남양주시">京畿道 南杨州市</option>
                <option value="경기도 동두천시">京畿道 东豆川市</option>
                <option value="경기도 부천시">京畿道 富川市</option>
                <option value="경기도 성남시">京畿道 城南市</option>
                <option value="경기도 수원시">京畿道 水原市</option>
                <option value="경기도 시흥시">京畿道 始兴市</option>
                <option value="경기도 안산시">京畿道 安山市</option>
                <option value="경기도 안성시">京畿道 安城市</option>
                <option value="경기도 안양시">京畿道 安养市</option>
                <option value="경기도 양주시">京畿道 杨州市</option>
                <option value="경기도 여주시">京畿道 骊州市</option>
                <option value="경기도 오산시">京畿道 乌山市</option>
                <option value="경기도 용인시">京畿道 龙仁市</option>
                <option value="경기도 의왕시">京畿道 义王市</option>
                <option value="경기도 의정부시">京畿道 议政府市</option>
                <option value="경기도 이천시">京畿道 利川市</option>
                <option value="경기도 파주시">京畿道 坡州市</option>
                <option value="경기도 평택시">京畿道 平泽市</option>
                <option value="경기도 포천시">京畿道 抱川市</option>
                <option value="경기도 하남시">京畿道 河南市</option>
                <option value="경기도 화성시">京畿道 华城市</option>
                <option value="인천광역시">仁川广域市</option>
                <option value="대전광역시">大田广域市</option>
                <option value="광주광역시">光州广域市</option>
                <option value="대구광역시">大邱广域市</option>
                <option value="울산광역시">蔚山广域市</option>
                <option value="부산광역시">釜山广域市</option>
                <option value="강원특별자치도 강릉시">江原特别自治道 江陵市</option>
                <option value="강원특별자치도 동해시">江原特别自治道 东海市</option>
                <option value="강원특별자치도 삼척시">江原特别自治道 三陟市</option>
                <option value="강원특별자치도 속초시">江原特别自治道 束草市</option>
                <option value="강원특별자치도 원주시">江原特别自治道 原州市</option>
                <option value="강원특별자치도 춘천시">江原特别自治道 春川市</option>
                <option value="강원특별자치도 태백시">江原特别自治道 太白市</option>
                <option value="경상남도 거제시">庆尚南道 巨济市</option>
                <option value="경상남도 김해시">庆尚南道 金海市</option>
                <option value="경상남도 밀양시">庆尚南道 密阳市</option>
                <option value="경상남도 사천시">庆尚南道 泗川市</option>
                <option value="경상남도 양산시">庆尚南道 梁山市</option>
                <option value="경상남도 진주시">庆尚南道 晋州市</option>
                <option value="경상남도 창원시">庆尚南道 昌原市</option>
                <option value="경상남도 통영시">庆尚南道 统营市</option>
                <option value="경상북도 경산시">庆尚北道 庆山市</option>
                <option value="경상북도 경주시">庆尚北道 庆州市</option>
                <option value="경상북도 구미시">庆尚北道 龟尾市</option>
                <option value="경상북도 김천시">庆尚北道 金泉市</option>
                <option value="경상북도 문경시">庆尚北道 闻庆市</option>
                <option value="경상북도 상주시">庆尚北道 尚州市</option>
                <option value="경상북도 안동시">庆尚北道 安东市</option>
                <option value="경상북도 영주시">庆尚北道 荣州市</option>
                <option value="경상북도 영천시">庆尚北道 永川市</option>
                <option value="경상북도 포항시">庆尚北道 浦项市</option>
                <option value="전라남도 광양시">全罗南道 光阳市</option>
                <option value="전라남도 나주시">全罗南道 罗州市</option>
                <option value="전라남도 목포시">全罗南道 木浦市</option>
                <option value="전라남도 순천시">全罗南道 顺天市</option>
                <option value="전라남도 여수시">全罗南道 丽水市</option>
                <option value="전라북도 군산시">全罗北道 群山市</option>
                <option value="전라북도 김제시">全罗北道 金堤市</option>
                <option value="전라북도 남원시">全罗北道 南原市</option>
                <option value="전라북도 익산시">全罗北道 益山市</option>
                <option value="전라북도 전주시">全罗北道 全州市</option>
                <option value="전라북도 정읍시">全罗北道 井邑市</option>
                <option value="충청남도 계룡시">忠清南道 鸡龙市</option>
                <option value="충청남도 공주시">忠清南道 公州市</option>
                <option value="충청남도 논산시">忠清南道 论山市</option>
                <option value="충청남도 당진시">忠清南道 唐津市</option>
                <option value="충청남도 보령시">忠清南道 保宁市</option>
                <option value="충청남도 서산시">忠清南道 瑞山市</option>
                <option value="충청남도 아산시">忠清南道 牙山市</option>
                <option value="충청남도 천안시">忠清南道 天安市</option>
                <option value="충청북도 제천시">忠清北道 堤川市</option>
                <option value="충청북도 청주시">忠清北道 清州市</option>
                <option value="충청북도 충주시">忠清北道 忠州市</option>
                <option value="제주도 제주시">济州道 济州市</option>
                <option value="제주도 서귀포시">济州道 西归浦市</option>
            </select>
        
           
            <div class="fc-activeControlBox">
              <div class="fc-prevButton">上一步</div>
              <div class="fc-nextButton deactiveted">下一步</div>
            </div>
          </section>

          <section class="fc-form-multiStep" id="fc-isCorporationEstablished">
            <div class="fc-scoreDisplay" id="scoreDisplay"></div>
            <div class="fc-form-title">请填写法人姓名</div>
            <input type="text" class="fc-formButton" placeholder="法人姓名" />
            <div class="fc-activeControlBox">
              <div class="fc-prevButton">上一步</div>
              <div class="fc-nextButton deactiveted">下一步</div>
            </div>
          </section>

          <section class="fc-form-multiStep" id="fc-isCorporationEstablished-sub">
            <div class="fc-scoreDisplay" id="scoreDisplay"></div>
            <div class="fc-form-title">请填写姓名</div>
            <input type="text" class="fc-formButton" placeholder="이름" />

            <div class="fc-activeControlBox">
              <div class="fc-prevButton">上一步</div>
              <div class="fc-nextButton deactiveted">下一步</div>
            </div>
          </section>

          <section class="fc-form-multiStep" id="fc-isCorporationEstablished-sub">
            <div class="fc-scoreDisplay" id="scoreDisplay"></div>
            <div class="fc-form-title">请填写联系方式</div>
            <input type="text" class="fc-formButton" placeholder="연락처" />

            <div class="fc-activeControlBox">
              <div class="fc-prevButton">上一步</div>
              <div class="fc-finishButton deactiveted" onclick="submitInfo()">提交</div>
            </div>
          </section>
          </div>
        </div>
      </div>
  
      <section class="fc-warringModal">
        <div class="fc-warringModal-content">
          <div class="fc-warringModal-title">警告</div>
          <div class="fc-warringModal-message"></div>
          <div class="fc-warringModal-button">确认</div>
        </div>
      </section>
    </section>
  </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const nextButtons = document.querySelectorAll(".fc-nextButton");
        const prevButtons = document.querySelectorAll(".fc-prevButton");
        const steps = document.querySelectorAll(".fc-form-multiStep");
    
        let currentStep = 0;
    
        // 초기 단계에서 로컬 스토리지 초기화
        if (currentStep === 0) {
          localStorage.clear();
        }
    
        // 주어진 인덱스에 해당하는 단계만 보이도록 설정
        function showStep(index) {
          steps.forEach((step, i) => {
            step.classList.toggle("active", i === index);
          });
        }
    
        // 경고 팝업을 표시하는 함수
        function warringPopup(message) {
          const warringModal = document.querySelector(".fc-warringModal");
          const warringMessage = document.querySelector(
            ".fc-warringModal-message"
          );
          const warringButton = document.querySelector(".fc-warringModal-button");
    
          warringMessage.textContent = message;
          warringModal.style.display = "flex";
          warringButton.addEventListener("click", () => {
            warringModal.style.display = "none";
          });
        }
    
        // 현재 단계에 대한 유효성 검사
        function validateStep() {
          const validationRules = [
            {
              step: 0,
              message: "请选择国家",
              selector: 'input[name="education_level"]:checked', // 라디오 버튼 체크 확인
            },
            {
              step: 1,
              message: "请选择居住国家",
              selector: "#fc-userKoreanTestLevel .fc-formButton.selected",
            },
            {
              step: 2,
              message: "请选择公司类型",
              selector: "#fc-intellectualPropertyRights .fc-formButton.selected",
            },
            {
              step: 3,
              message: "请选择公司设立地区",
              selector: "#fc-patent .fc-formButton.selected",
            },
            {
              step: 4,
              message: "请输入法人姓名",
              selector: "#fc-isCorporationEstablished .fc-formButton.selected",
            },
            {
              step: 5,
              message: "请填写姓名.",
              selector: "#fc-isCorporationEstablished-sub .fc-formButton.selected",
            },
            {
              step: 6,
              message: "请填写联系方式",
              selector: "#fc-isCorporationEstablished-sub .fc-formButton.selected",
            },
          ];
    
          const rule = validationRules[currentStep];
          const storedValue = localStorage.getItem(`${currentStep} selectedValue`)
          // 카드 기반 유효성 검사 및 입력 필드 검사 통합
          if (!storedValue) {
            console.log('카드기반 유효성');
            warringPopup(rule.message); // 경고 메시지 표시
            return false; // 유효성 검사 실패
          }
          return true; // 유효성 검사 통과
        }
    
        

        // 로컬 스토리지에 값 저장
        function saveToLocalStorage(key, value) {
          localStorage.setItem(key, value);
          console.log(localStorage); // 저장된 로컬 스토리지 확인
        }

        // 설립 지역 데이터 리스트
        const regionSelect = document.getElementById("regionSelect");
        regionSelect.addEventListener("change", function() {
          const selectedValue = this.value;
          console.log(this.value);
          saveToLocalStorage(`${currentStep} selectedValue`, selectedValue);
        });
    
        // 카드 클릭 시 로컬 스토리지에 값 저장
        function handleCardClick(event) {
          const selectedRadioValue = event.currentTarget.querySelector('input[type="radio"]');
          if (selectedRadioValue) {
            saveToLocalStorage(`${currentStep} selectedValue`, selectedRadioValue.value);
          } 
        }

        // 다음 단계로 이동하는 함수
        function goToNextStep() {
          const currentStepElement = steps[currentStep];
    
          if (!validateStep()) {
            return; // 유효성 검사 실패 시 종료
          }
    
          currentStepElement.classList.remove("active");
         

          currentStep += 1; // 다음 단계로 이동
    
          if (currentStep < steps.length) {
            steps[currentStep].classList.add("active");
          }
    
          // 결과 페이지로 이동
          if (currentStep === steps.length - 1) {
            setTimeout(() => {
              const loadingSection = document.getElementById("fc-scoreResultLoading");
              loadingSection.classList.remove("active");
              // 추가 로직...
            }, 1500);
          }
        }

        // 카드 클릭 이벤트 추가
        const radioSelectBoxes = document.querySelectorAll('.fc-radio-SelectBox');
        radioSelectBoxes.forEach(box => {
          box.addEventListener('click', handleCardClick); // 카드 클릭 시 값 저장
        });

      // input text 추가 이벤트
      const textSelectBoxes = document.querySelectorAll('.fc-formButton');
      textSelectBoxes.forEach((input) => {
        input.addEventListener('input', (e) => {
          const value = e.target.value;
          const placeholder = input.placeholder;

          saveToLocalStorage(`${currentStep} selectedValue`, value);

          console.log(`Saved ${placeholder}: ${value}`); // 저장된 값 확인용
        });
      });
      
        // 다음 버튼 클릭 시 goToNextStep 호출
        nextButtons.forEach((button) => {
          button.addEventListener("click", goToNextStep);
          
        });
    
        // 이전 버튼 클릭 시 이전 단계로 이동
        prevButtons.forEach((button) => {
          button.addEventListener("click", () => {
            if (currentStep > 0) {
              currentStep--;
              showStep(currentStep);
            }
          });
        }); 
    
        // 초기 단계 표시
        showStep(currentStep);
      });

      

      const submitInfo = () => {
        console.log('submitInfo');
        const sumbmitLimit = localStorage.getItem('6 selectedValue')

        if (submitLimit && submitLimit.length >= 2) {
        document.getElementById("input_txt_2adc34665cda5").value =
        localStorage.getItem('0 selectedValue')
        document.getElementById("input_txt_79cacd4241db5").value =
        localStorage.getItem('1 selectedValue')
        document.getElementById("input_txt_D44y508KH2").value =
        localStorage.getItem('2 selectedValue')
        document.getElementById("input_txt_186pTBK084").value =
        localStorage.getItem('3 selectedValue')
        document.getElementById("input_txt_1RBdDI3aF0").value =
        localStorage.getItem('4 selectedValue')
        document.getElementById("input_txt_T53Ny7dP83").value =
        localStorage.getItem('5 selectedValue')
        document.getElementById("input_txt_6vvJcU7o8Q").value =
        localStorage.getItem('6 selectedValue')
        SITE_FORM.confirmInputForm('w202409197a6d11485bedb','N');
        localStorage.clear();
        }
      }
    </script>
    
  </body>
</html>
input_txt_2adc34665cda5
