<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/reForeginCorporation.css" />
  </head>
  <body>
    <div class="cc-nav-container">
      <div class="cc-mo-grid-container">
        <div id="cc-nav-moLogo">
          <a href="https://well-come.info">WELL-COME</a>
        </div>
        <div id="cc-nev-dropdown">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div id="cc-dropMenu-container" class="cc-hidden move-out">
          <div class="cc-serviceTitle">외국인 서비스</div>
          <div class="cc-dropMenu-line"></div>
          <div class="cc-dropMenu" id="cc-dropMenu-1">
            <a href="https://well-come.info/">외국인 취업</a>
          </div>
          <div class="cc-dropMenu" id="cc-dropMenu-2">
            <a href="https://well-come.info/corporate-visa">외국인 창업비자</a>
          </div>
          <div class="cc-dropMenu" id="cc-dropMenu-3">
            <a href="https://well-come.info/incorporation">외국인 법인설립</a>
          </div>
          <div class="cc-serviceTitle">기업 서비스</div>
          <div class="cc-dropMenu-line"></div>
          <div class="cc-dropMenu" id="cc-dropMenu-4">
            <a href="#">서비스 문의</a>
          </div>

          <div id="cc-nav-moLogo">
            <a href="https://well-come.info">WELL-COME</a>
            <div>서울시 마포구 마포대로 78<br />자람빌딩 11층 1113,1115호</div>
            <div>1551-8016</div>
          </div>
        </div>
      </div>

      <div class="cc-grid-container">
        <div class="cc-nav-logo" id="cc-nav-topLogo">
          <a href="https://well-come.info">WELL-COME</a>
        </div>
        <div class="cc-nav-menu-container">
          <div></div>
          <div></div>
          <div class="cc-topMenu" id="cc-topMenu-1">
            <a href="https://well-come.info/incorporation">법인설립</a>
          </div>
          <div class="cc-topMenu active" id="cc-topMenu-2">
            <a class="cc-active" href="https://well-come.info/corporate-visa"
              >창업비자</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="ccv-fullSection-container">
      <div class="ccv-mainSection">
        <div class="ccv-multiDisplaySection-form">
          <!-- 폼 섹션 시작 -->
          <div class="ccv-form-multiStep active" id="ccv-userEduAbility">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">내국인/ 외국인 선택해주세요</div>
            <div class="ccv-userEduCountry">
              <div class="ccv-radio-SelectBox" data-edu="domestic">
                <input type="radio" name="education_level" value="domestic" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/17ae2878ffff8.png"
                />
                내국인
              </div>
              <div class="ccv-radio-SelectBox" data-edu="overseas">
                <input type="radio" name="education_level" value="overseas" />
                <img
                  src="https://cdn.imweb.me/thumbnail/20240822/736184391d2cb.png"
                />
                외국인
              </div>
            </div>

            <!-- <div id="ccv-domesticEdu">
              <div class="ccv-formButton" data-value="전문학사">전문학사</div>
              <div class="ccv-formButton" data-value="학사">학사</div>
              <div class="ccv-formButton" data-value="석사">석사</div>
              <div class="ccv-formButton" data-value="박사">박사</div>
              <div class="ccv-formButton" data-value="None">해당사항없음</div>
            </div>
            <div id="ccv-overseasEdu">
              <div class="ccv-formButton" data-value="학사">학사</div>
              <div class="ccv-formButton" data-value="석사">석사</div>
              <div class="ccv-formButton" data-value="박사">박사</div>
              <div class="ccv-formButton" data-value="None">해당사항없음</div>
            </div> -->
            <div class="ccv-activeControlBox">
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-userKoreanTestLevel">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">거주 지역</div>
            <div class="ccv-formButton" data-value="한국 거주">한국 거주</div>
            <div class="ccv-formButton" data-value="해외 거주">해외 거주</div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-intellectualPropertyRights">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">회사의 설립 형태 선택해주세요</div>
            <div class="ccv-formButton" data-value="주식회사">주식회사</div>
            <div class="ccv-formButton" data-value="유한책임회사">
              유한책임회사
            </div>
            <div class="ccv-formButton" data-value="유한회사">유한회사</div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div
            class="ccv-form-multiStep"
            id="ccv-intellectualPropertyRights-sub"
          >
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">회사의 설립 지역을 선택해주세요</div>
            <div class="ccv-intellectualPropertyRightsType">
              <div class="ccv-radio-SelectBox">
                <input type="radio" name="intellectual_property" value="tech" />

                서울
              </div>
              <div class="ccv-radio-SelectBox">
                <input
                  type="radio"
                  name="intellectual_property"
                  value="design"
                />

                경기도
              </div>
            </div>
            <div class="ccv-hiddenForm" id="ccv-patent">
              <div class="ccv-formButton" data-value="출원">출원완료</div>
              <div class="ccv-formButton" data-value="등록">등록완료</div>
            </div>
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-isCorporationEstablished">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">법인명을 작성해주세요</div>
            <input type="text" class="ccv-formButton" placeholder="법인명" />
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-isCorporationEstablished-sub">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <div class="ccv-form-title">이름과 연락처를 작성해주세요</div>
            <input type="text" class="ccv-formButton" placeholder="이름" />
            <input type="text" class="ccv-formButton" placeholder="연락처" />

            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton deactiveted">다음</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-isStartupProgramCompleted">
            <div class="ccv-scoreDisplay" id="scoreDisplay"></div>
            <!-- <div class="ccv-form-title">
              수료한 외국인창업교육(OASIS)프로그램을 선택해주세요
            </div> -->
            <!-- <div class="ccv-checkbox-container">
              <div class="ccv-formButton" id="oasis-1" data-value="OASIS-1">
                OASIS-1
              </div>
              <div class="ccv-formButton" id="oasis-2" data-value="OASIS-2">
                OASIS-2
              </div>
              <div class="ccv-formButton" id="oasis-4" data-value="OASIS-4">
                OASIS-4
              </div>
              <div class="ccv-formButton" id="oasis-5" data-value="OASIS-5">
                OASIS-5
              </div>
              <div class="ccv-formButton" id="oasis-7" data-value="OASIS-7">
                OASIS-7
              </div>
            </div> -->
            <div class="ccv-activeControlBox">
              <div class="ccv-prevButton">이전</div>
              <div class="ccv-nextButton">결과보기</div>
            </div>
          </div>

          <div class="ccv-form-multiStep" id="ccv-scoreResultLoading">
            <div class="ccv-form-title">결과 확인중입니다...</div>
            <div class="ccv-loading-spinner">
              <div class="ccv-spinner"></div>
            </div>
          </div>
        </div>

        <div class="ccv-multiDisplaySection-result">
          <!-- 결과 섹션 시작 -->
          <div
            class="ccv-result-multiResult"
            id="ccv-result-basicConditionNotMet"
          >
            <div class="ccv-form-title">
              아쉬워요<br />창업비자신청 기본조건이 충족하지 않습니다.
            </div>
            <!-- 현재 점수와 도달해야 하는 점수 표시 -->
            <div class="ccv-scoreDisplay" id="basicConditionNotMet-score"></div>
            <div class="ccv-formButton">
              <a href="https://well-come.info" class="homeButton"
                >홈으로 돌아가기</a
              >
            </div>
          </div>
          <div
            class="ccv-result-multiResult"
            id="ccv-result-applicationConditionMet"
          >
            <div class="ccv-form-title">
              축하합니다!<br />창업비자 신청조건이 충족되었습니다.
            </div>
            <!-- 현재 점수와 도달해야 하는 점수 표시 -->
            <div
              class="ccv-scoreDisplay"
              id="applicationConditionMet-score"
            ></div>
            <div class="ccv-formButton pulse resultStrong">
              <a href="#" id="ccv-application-visa">비자 신청하러 가기</a>
            </div>
            <div class="ccv-formButton">
              <a href="#" class="homeButton">홈으로 돌아가기</a>
            </div>
          </div>
          <div
            class="ccv-result-multiResult"
            id="ccv-result-applicationConditionNotMet"
          >
            <div class="ccv-form-title">
              바로 시작하기에 <span>점수가 부족</span>해요&#x1F613;<br />창업
              비자 점수 웰컴에서 만들어요!!
            </div>
            <!-- 현재 점수와 도달해야 하는 점수 표시 -->
            <div
              class="ccv-scoreDisplay"
              id="applicationConditionNotMet-score"
            ></div>

            <!-- 조건에 따른 서비스 제공 목록 -->
            <div class="ccv-form-title">
              웰컴비자에서 지원하는 점수 향상 서비스
              <ul>
                <li id="service-patentSupport" style="display: none">
                  지재권 출원 지원
                </li>
                <li id="service-corpEstablishmentSupport" style="display: none">
                  법인 설립 지원
                </li>
                <li id="service-investCorp" style="display: none">
                  투자 컨설팅
                </li>
                <li id="service-oasisSupport" style="display: none">
                  OASIS 교육 지원
                </li>
              </ul>
            </div>
            <div class="ccv-formButton pulse resultStrong">
              <a href="#" id="ccv-consulting-visa">비자 컨설팅 받기</a>
            </div>
            <div class="ccv-formButton">
              <a href="#" class="homeButton">홈으로 돌아가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cc-warringModal">
      <div class="cc-warringModal-content">
        <div class="cc-warringModal-title">경고</div>
        <div class="cc-warringModal-message"></div>
        <div class="cc-warringModal-button">확인</div>
      </div>
    </div>

    <div class="cc-infInputModal">
      <div class="infoInputModal-content">
        <div class="infInputModal-title"></div>
        <input
          type="text"
          class="ccv-input-name"
          placeholder="이름을 입력해주세요"
        />
        <input
          type="text"
          class="ccv-input-email"
          placeholder="이메일을 입력해주세요"
        />
        <input
          type="text"
          class="ccv-input-phone"
          placeholder="전화번호를 입력해주세요"
        />
        <div class="infoInputModal-button">제출하기</div>
      </div>
    </div>
  </body>
</html>
