<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/why_test.css" rel="stylesheet" />
    <title>why_test</title>
  </head>
  <body>
    <section class="img-section"></section>
   <img src="../static/img/passport.png" alt="passport" class="passport-img">
    </section>
    <section class="why-section">
      <ul class="why-list">
        <li class="why-item1">
          <p>why1</p>
        </li>
        <li class="why-item2">
          <p>why2</p>
        </li>
        <li class="why-item3">
          <p>why3</p>
        </li>
        <li class="why-item4">
          <p>why4</p>
        </li>
        <li class="why-item5">
          <p>why5</p>
        </li>
      </ul>
    </section>
  </body>

  <script>
    window.addEventListener('scroll', function () {
      const paragraphs = document.querySelectorAll('.why-list p');
      const triggerPoint = window.innerHeight / 1.3;

      paragraphs.forEach((p) => {
        const pTop = p.getBoundingClientRect().top;

        if (pTop < triggerPoint && pTop > 0) {
          p.style.opacity = '1'; // fade-in
          p.style.animation = 'fadeIn 1s forwards';
        }
        // 화면에서 p 태그가 벗어나면 fade-out
        else if (pTop > triggerPoint || pTop < 0) {
          p.style.opacity = '0'; // fade-out
          p.style.animation = 'fadeOut 1s forwards';
        }
      });
    });
  </script>
</html>
