:root {
  --gradient-0: 90deg, #004492 -173.52908891328343%, #bfe6b3 -73.52908891328343%,
    #a3a7e7 26.47091108671657%, #030619 126.47091108671657%,
    #180644 226.47091108671657%, #3e2c98 326.47091108671657%,
    #e2dbc9 426.47091108671657%, #ec8535 526.4709110867166%;
}

html {
  pointer-events: all;
}

body {
  margin: 0;
  padding: 0;
}

.why-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-list {
  list-style: none;
  background-color: rgb(154, 208, 178);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; /* 각 li의 높이를 설정하여 화면에 5개가 보이도록 */
}

p {
  margin: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
